= haml :header_partial
%h1.connection_status
.centre
  %h1.title Welcome to Rock, Paper, Scissors!

  %form.form{ action: '/name', method: 'POST' }
    %label Please enter your name:
    %input.form_inputfield{ type: 'text', name: 'name' }
    %input.button.button_submit{ type: 'submit', value: 'Let\' play!' }

%script{type: "text/javascript",
        src: "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"}

%script{ type: "text/javascript",
          src: "assets/js/application.js"  }
